/* ****************************************************** LIST */

.section-list {
  /* background-color: #9ab8aa; */
  padding: 9.6rem 0;
}
.list {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* margin-bottom: 9.6rem; */
}

.list-subhead {
  color: #034d2a;
  font-size: 2.4rem;
  line-height: 1.2;
}

.list-header h2 {
  font-size: 7.2rem;
  font-weight: 500;
  color: #4f826a;
}

/* ****************************************************** FULLVIEW */

.item-fullview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f6f5;
  border-radius: 10px;
  overflow: hidden;
}

.item-fullview-content {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  padding: 4.8rem;
}
.item-fullview-content h3 {
  color: #4f826a;
  font-size: 3.6rem;
  font-weight: 500;
  margin: 0;
}

.item-fullview-content p {
  color: #1c5f3f;
  font-size: 2rem;
  line-height: 1.4;
}

.item-fullview-content-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.item-fullview-content-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: none;
  font-size: 1.6rem;
  background-color: #cddbd4;

  padding: 0.8rem 1.2rem;
  border-radius: 50px;

  transition: all 0.3s;
}

.item-fullview-content-tag:hover,
.item-fullview-content-tag:active {
  cursor: pointer;
  background-color: #9ab8aa;
}

/* ****************************************************** CARDS LIST */

.cards-div {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;

  align-items: center;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;

  width: 100%;
}

.cards-div-btn {
  padding: 1.6rem 3.2rem;

  background-color: #cddbd4;
  color: #034d2a;

  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cards-div-btn:hover,
.cards-div-btn:active {
  background-color: #034d2a;
  color: #e6edea;
  transform: scale(1.05);
}

/* ****************************************************** LOADING CARD */
.loading-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: #f3f6f5;
  border-radius: 10px;
  padding: 4.8rem;
}

.loading-card div {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  align-items: center;
}

.loading-card h2 {
  font-size: 2.8rem;
  color: #4f826a;
}

.loading-card-img {
  width: 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-card-img {
    animation: Loading-spin infinite 20s linear;
  }
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
