/* ****************************************************** CTA */
/* CTA */

.cta-section {
  padding: 9.6rem 6.2rem;
}

.cta-div {
  margin: 0 auto;
  padding: 1.2rem;
  background-color: rgb(3, 77, 42, 0.5);
  border-radius: 4px;
}
.cta-inner-div {
  border: 0.5px solid rgb(3, 77, 42);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-cta-left,
.footer-cta-right {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;
  padding: 4.8rem;
}

.cta-h3,
.cta-greets {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #034d2a;
}
.cta-greets {
  text-align: center;
}

.footer-cta-signup {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.8rem;
}
.footer-cta-signup input {
  padding: 1.2rem;
  background-color: #e6edea;
  border: none;
  font-size: 1.8rem;
  color: #555;
  border-radius: 4px;
}
.footer-cta--btn {
  padding: 1.2rem 2.4rem;
  background-color: #4f826a;
  background-color: rgb(3, 77, 42, 0.75);

  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 4px;
}
.footer-cta--btn:hover {
  background-color: #034d2a;
  color: #fff;
}

.footer-cta-inner-right {
  text-align: center;
  justify-content: center;
}

.cta-img {
  width: 100%;
}

/*****************************/
/* BELOW 1200px (Landscape Tablets) */
/*****************************/
@media (max-width: 67em) {
  .footer-cta-left,
  .footer-cta-right {
    padding: 2.4rem;
  }
}

/*****************************/
/* BELOW 944px (Tablets) */
/*****************************/
@media (max-width: 59em) {
  .cta-section {
    padding: 7.2rem 4.8rem;
  }

  .footer-cta-left,
  .footer-cta-right {
    padding: 4.8rem;
  }

  .cta-h3,
  .cta-greets {
    font-size: 3.2rem;
  }

  .footer-cta-signup {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

/*****************************/
/* BELOW 704px (Smaller Tablets) */
/*****************************/

@media (max-width: 44em) {
  .cta-section {
    padding: 5.2rem 3.2rem;
  }
  .footer-cta-signup input {
    text-align: center;
  }
}

/*****************************/
/* BELOW 544px (Phones) */
/*****************************/

@media (max-width: 34em) {
  .cta-section {
    padding: 4.8rem 1.2rem;
  }
  .cta-inner-div {
    grid-template-columns: 1fr;
  }

  .footer-cta-right {
    grid-row: 1;
    padding: 0;
  }
  .cta-h3,
  .cta-greets {
    font-size: 2.8rem;
    font-weight: 400;
  }

  .cta-img {
    width: 75%;
  }
}
